body{
  padding-top: 50px;
  font-family: 'Saira', sans-serif;
}
#header{
  text-align: center;
}
/*******************************************************************************
                                    Index-Intro -- Banner
*******************************************************************************/
.index-intro{
  width: 100%;
  background-image: url("../img/wald.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.index-intro h2{
  color: #fff;
  font-family: "Lobster";
  text-shadow: 5px 0 5px black;
  font-size: 63px;
  font-weight: bold;
  text-align: center;
  padding-top: 150px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.index-intro h1{
  color: #fff;
  font-size: 26px;
  text-shadow: 5px 0 5px black;
  text-align: center;
  line-height: 36px;
  padding: 0px 10px;
  margin-top: 4px;
  margin-bottom: 20px;
}
.index-intro a{
  display: block;
  width: 200px;
  border-radius: 4px;
  background-color: #cc181e;
  color: #fff;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  padding: 8px 0px;
  margin: 0 auto;
  margin-bottom: 150px;
}
/*******************************************************************************
                                    index-info
*******************************************************************************/
.index-info{
  width: 100%;
  background-color: #f1f2f7;
  padding-bottom: 60px;
}
.index-info h2{
  color: #222;
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px;
}
.index-info p {
  color:#222;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 0px;
  padding: 0px 10px;
}

.index-info hr{
  margin-top: 50px;
  border-top: 1px solid gray;
}
/*******************************************************************************
                                    tutorials
*******************************************************************************/
.col-xs-6{
  width: 100%;
}
.index-courses{
  width: 100%;
  background-color: #f1f2f7;
  padding-bottom: 60px;
}
.index-courses h2{
  color: #222;
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px;
}
.index-courses .index-courses-subheader{
  color: #222;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 0px 10px;
}

.index-courses .row .row div .index-courses-outerbox{
    width: 100%;
    height: 150px;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
    top: 0px;
    box-shadow: 0px 2px 0px #cccfdb;
    border-radius: 4px;
    transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
}
.index-courses .row .row div div .index-courses-icon {
    width: 18%;
    min-height: 150px;
    float: left;
    display: table;
}
.index-courses .row .row div div .index-courses-icon div {
    display: table-cell;
    vertical-align: middle;
}
.index-courses .row .row div div .index-courses-icon div img {
    width: 60%;
    display: block;
    margin: 0 auto;
}
.index-courses .row .row div div .index-courses-box {
    display: table;
    float: right;
    width: 82%;
    min-height: 150px;
    padding: 0px 2% 0px 4%;
    background-color: #fff;
}
.index-courses .row .row div div .index-courses-box div {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 0px;
}
.index-courses .row .row div div .index-courses-box div h3 {
    color: #222;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.index-courses .row .row div div .index-courses-box p {
    color: #222;
    font-size: 14px;
    margin-bottom: 0px;
}
.courses-rp {
    background-color: #048e6f !important;
}
.courses-coding {
    background-color: #1b2433 !important;
}
.courses-hw {
    background-color: #025e90 !important;
}
.courses-gs {
    background-color: #4286f4 !important;
}
.courses-webserver {
    background-color: #d82929 !important;
}
@media (min-width: 768px){
.index-courses .row .row div .index-courses-outerbox {
    margin-bottom: 20px;
}
.col-xs-6{
  width: 50%;
}
}
/*******************************************************************************
                                    Raspberry-Pi
*******************************************************************************/

.raspberry-pi-tutorials a{
  text-decoration: none;
}
.raspberry-pi-tutorials .box-content-left{
  box-shadow: 2px 2px 0px black;
  border-radius: 4px;
  color: #333;
  height: 100px;
}
.raspberry-pi-tutorials .box-content-left h2{
  font-size: 32px;
}
.raspberry-pi-tutorials .box-content-left p{
  margin-top: 10px;
  text-align: center;
}
.raspberry-pi-tutorials .box-content-right{
  box-shadow: -2px 2px 0px black;
  border-radius: 4px;
  color: #333;
  height: 100px;
}
.raspberry-pi-tutorials .box-content-right:hover{
  box-shadow: -2px 2px 0px grey;
  transition: 200ms;
  opacity: 0.8;
}
.raspberry-pi-tutorials .box-content-left:hover{
  box-shadow: 2px 2px 0px grey;
  transition: 200ms;
  opacity: 0.8;
}
.raspberry-pi-tutorials .box-content-right p{
  margin-top: 10px;
  text-align: center;
}
.raspberry-pi-header{
  width: 100%;
  background-image: url("../img/forest.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.raspberry-pi-header h2{
  color: #fff;
  font-family: "Lobster";
  font-size: 63px;
  font-weight: bold;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.raspberry-pi-header h1{
  color: #fff;
  font-size: 32px;
  text-align: center;
  line-height: 36px;
  padding: 0px 10px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding-bottom: 100px;
}
.raspberry-pi-tutorials{
  width: 100%;
  background-color: #f1f2f7;
  padding-bottom: 60px;
}
.raspberry-pi-tutorials h2{
  color: #222;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px;
}
.tutheader{
  width: 100%;
  background-image: url("../img/forest.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.tutheader-webserver{
  background-image: url("../img/web.jpg") !important;
}
.tutheader-coding{
  background-image: url("../img/coding.jpg") !important;
}
.tutheader-api{
  background-image: url("../img/coding2.jpg") !important;
}
.tutheader h2{
  color: #fff;
  font-family: "Lobster";
  text-shadow: 5px 0 5px black;
  font-size: 63px;
  font-weight: bold;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.tutheader h1{
  color: #fff;
  font-size: 32px;
  text-shadow: 5px 0 5px black;
  text-align: center;
  line-height: 36px;
  padding: 0px 10px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding-bottom: 100px;
}

.webserver-erstellen{
  width: 100%;
  background-image: url("../img/web.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.webserver-erstellen h2{
  color: #fff;
  font-family: "Lobster";
  font-size: 63px;
  font-weight: bold;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.webserver-erstellen h1{
  color: #fff;
  font-size: 32px;
  text-align: center;
  line-height: 36px;
  padding: 0px 10px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding-bottom: 100px;
}
/*******************************************************************************
                                    Login / Register
*******************************************************************************/
.login h1{
  color: #222;
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  padding: 30px;
}
.register h1{
  color: #222;
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  padding: 30px;
}
form{
  width: 50%;
  margin: auto;
}
input[type=text], input[type=password], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button.submitbtn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button.submitbtn:hover {
    opacity: 0.8;
}
/*******************************************************************************
                                    News
*******************************************************************************/
.news{
  color: white;
}
.news-header{
  width: 100%;
  background-image: url("../img/forest.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.news-header h1{
  color: #fff;
  font-family: "Lobster";
  font-size: 63px;
  font-weight: bold;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.news .col-xs-6{
  width: 50%;
}
.news .news1{
  height: 200px;
  background-color: red;

}
.news .news2{
  height: 200px;
  background-color: blue;
}
/*******************************************************************************
                                    Blog
*******************************************************************************/
.blog-header{
  width: 100%;
  background-image: url("../img/forest.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.blog-header h2{
  color: #fff;
  font-family: "Lobster";
  font-size: 63px;
  font-weight: bold;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.blog-header h1{
  color: #fff;
  font-size: 32px;
  text-align: center;
  line-height: 36px;
  padding: 0px 10px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding-bottom: 100px;
}
.blog-article{
  width: 100%;
  background-color: #f1f2f7;
  padding-bottom: 60px;
}
.blog-article h2{
  color: #222;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px;
}
.blog-article a{
  text-decoration: none;
}
.blog-article .box-content{
  box-shadow: 2px 2px 2px black;
  border-radius: 4px;
  color: #333;
  height: 100px;
}
.blog-article .box-content p{
  margin-top: 10px;
  text-align: center;
}
.blog-article .box-content:hover{
  box-shadow: 2px 3px 10px black;
  transition: 200ms;
  opacity: 0.8;
}
.amazon-echo-dot-header{
  width: 100%;
  background-image: url("../img/forest.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.amazon-echo-dot-header h2{
  color: #fff;
  font-family: "Lobster";
  font-size: 63px;
  font-weight: bold;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.amazon-echo-dot-header h1{
  color: #fff;
  font-size: 32px;
  text-align: center;
  line-height: 36px;
  padding: 0px 10px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding-bottom: 100px;
}
/*******************************************************************************
                                    Über uns
*******************************************************************************/
.aboutus{
  text-align: center;
}
.aboutus img{
  margin: auto;
  height: 100px;
}
/*******************************************************************************
                                    Footer
*******************************************************************************/
footer{
  background-color: #161819;
  width: 100%;
  height: 60px;
  bottom: 0px;
}
footer .footer-box{
  display: block;
  margin: 0 auto;
  text-align: center;
}
footer a p {
  float: left;
  line-height: 60px;
  font-family: "Lobster";
  font-size: 34px;
  color: #fff;
  text-transform: none;
  margin-bottom: 0px;
  float: left;
}
/*******************************************************************************
                                    Media
*******************************************************************************/
@media (max-width: 600px) {

	.index-courses .row .row div .index-courses-outerbox {
		margin-bottom: 20px;
	}
  .index-intro a{
    width: 100%;
  }

}
@media screen and (max-width: 600px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
    form{
        width: 100%;
    }
    .index-courses h2{
      font-size: 14px;

    }
}
