body{
    padding-top: 50px;
    font-family: 'Saira', sans-serif;
    width: 100%;
}
.row{
  margin:0px;
}
.summonersearch{
  width: 100%;
}
.summonersearch h1{
  text-align: center;
}
.navbar-form.main{
  text-align: center;
}
.summonerinfo{
  margin-top: 25px;
  text-align: center;
}
.lol-header{
  width: 100%;
  background-image: url("../img/Jinx_4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.lol-header h1{
  color: #fff;
  font-family: "Lobster";
  text-shadow: 5px 0 5px black;
  font-size: 63px;
  font-weight: bold;
  text-align: center;
  padding-top: 250px;

  margin-top: 0px;
  margin-bottom: 0px;
}
.lol-header form{
  margin-top: 5px;
  padding-bottom: 250px;
}
.test a{
  color: black;
}
.test b.currentPlayerRed{
  color: #c41414;
}
.test b.currentPlayerBlue{
  color: #1558c4;
}
.test{
  font-size: 24px;
}
.test .team1{
  margin: auto;
  text-align: center;
  height: 200px;
  width: 100%;
}
.test .team2{
  margin: auto;
  text-align: center;
  height: 200px;
  width: 100%;
}
.blueheader{
  margin: auto;
  width: 250px;
  border-radius: 25px;
  height: 50px;
  background-color: #1558c4;
  color: white;
}
.redheader{
  margin: auto;
  width: 250px;
  border-radius: 25px;
  height: 50px;
  background-color: #c41414;
  color: white;
}
.alert-danger{
  margin: auto;
  width: 500px;
  text-align: center;
}
